html, body, #container{
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    background: #e9e9e9 url("../images/bg_texture.png") repeat;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Abel', sans-serif;
    color: #995668;
    line-height: 8px;
}

h1 {
    font-size: 26px;
}

h2 {
    font-size: 18px;
}

h3 {
    font-size: 16px;
}

p, ul {
    font-family: 'Lato', sans-serif;
    color: #192231;
    font-size: 14px;
    line-height: 20px;
}

a {
    text-decoration: none;
    color: #995668;
}

/* border-box on everything */

*, *:before, *:after {
    box-sizing: border-box;
}

/* 12-column responsive grid */

.row {
    content: "";
    clear: both;
    max-width: 1040px;
    display: block;
    margin: 0 auto;
}

[class^="col-"] {
    float: left;
}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}

header {
    width: 100%;
    height: 50px;
    background-color: #41486b;
    text-align: center;
}

header img {
    width: auto;
    height: 45px;
    margin: 2.5px auto auto auto;
    display: inline-block;
}

nav {
    padding: 15px 0 0 0;
    text-align: center;
}

nav ul{
    margin: 0;
    padding: 0;
}
nav ul li {
    display: inline-block;
    list-style-type: none;
    margin: 0 5px 0 5px;
}

nav ul li a {
    display: block;
    line-height: 2px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 24px;
    font-family: 'Abel', sans-serif;
    color: #995668;
}

footer {
    width: 100%;
    height: 50px;
    margin-top: -50px;
    background-color: #41486b;
    text-align: center;
    position: relative;
    clear: both;
}

footer ul {
    margin: 0;
    padding: 0;
}

footer ul li {
    display: inline-block;
    list-style: none;
    margin: 0 5px 0 5px;
}

footer ul li, footer ul li a {
    height: 50px;
}

footer ul a {
    padding: 14px 23px 14px 23px;
    line-height: 50px;
}

#email {
    width: 50px;
    background: url("../images/social_sprite.png") 0 0;
}

#twitter {
    width: 50px;
    background: url("../images/social_sprite.png") -50px 0;
}

#facebook {
    width: 50px;
    background: url("../images/social_sprite.png") -100px 0;
}

#linkedin {
    width: 50px;
    background: url("../images/social_sprite.png") -150px 0;
}

#github {
    width: 50px;
    background: url("../images/social_sprite.png") -200px 0;
}

.content {
    margin: 10px 15px;
}

#big-logo {
    padding-right: 0;
}

#big-logo img {
    height: 180px;
    margin: 0 auto;
    display: block;
}

#welcome {
    padding-bottom: 10px;
}

#welcome h1 {
    text-align: center;
}

#about-img {
    text-align: center;
    padding-right: 0;
}

#about-img img {
    width: 200px;
    height: auto;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
}

.skills ul, .languages ul {
    list-style: none;
    padding-left: 0;
    margin-top: 0;
}

.skills i, .languages i {
    float: right;
    color: #995668;
}

.experience h3, .education h3, .achievements h3 {
    line-height: 1;
    margin-top: 0;
}

.subheading {
    line-height: 0;
    font-size: 12px;
    color: #995668;
}

.skills, .experience, .education, .achievements, .languages, #about-text {
    margin-bottom: 20px;
}

.project {
    border: 1px #41486b solid;
    border-radius: 10px;
    width: 240px !important;
    height: 240px;
    margin: 10px;
    overflow: hidden;
    cursor: pointer;

    transition: all 0.5s ease;
}

.project-heading {
    height: 75px;
    background: rgba(65, 72, 107, .8);
    padding: 10px;
    margin-top: 0;
}

.short-description {
    height: 75px;
    background: rgba(65, 72, 107, .8);
    padding: 1px 10px;
    margin-top: 95px;
    border-radius: 0 0 10px 10px;
}

.short-description p {
    margin-top: 5px;
}

.project h2, .project p {
    color: #e9e9e9;
}

.project:hover .project-heading, .expand .project-heading {
    margin-top: 0;
    border-radius: 10px 10px 0 0;
}

.project:hover .short-description {
    margin-top: 95px;
}

.project-content {
    display: none;
    margin: 10px;
}

.expand .short-description {
    display: none;
}

.expand .project-content {
    display: block;
}

.expand {
    width: 94% !important;
    height: auto;
    background: none !important;
}

.project-content h1, .project-content h2, .project-content h3, .project-content p {
    color: #192231;
}

.project-content img {
    max-width: 100%;
}

.project-content ul {
    list-style: none;
    padding: 0;
    font-size: 12px;
}

.project-content ul em {
    font-style: normal;
    color: #995668;
}

.project-content ul a {
    color: #192231;
}

.project-content ul a:hover {
    color: #995668;
}

@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}

    [class^="col-"] {
        padding-right: 20px;
    }

    [class^="col-"]:last-child {
        padding-right: 0;
    }

    #big-logo img {
        height: 280px;
    }

    .project-heading, .short-description {
        width: 110%;
    }
}

@media only screen and (min-width: 900px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}

    .content {
        margin: 50px 15px;
    }

    #big-logo img {
        height: 400px;
        margin: 50px auto;
    }

    #spacer {
        height: 500px;
        text-align: center;
    }

    #spacer span {
        border-left: 1px solid rgba(25, 34, 49, 0.5);
        height: 400px;
        width: 1px;
        display: inline-block;
        margin: 50px auto;
    }

    #welcome {
        height: 500px;
        padding: 120px 0 0;
    }

    #welcome h1 {
        text-align: left;
    }

    #about-img img {
        width: 300px;
        border-radius: 150px;
        margin-top: 30px;
    }

    #resume {
        padding-top: 50px;
    }

    #resume h1 {
        text-align: center;
    }

    .project-heading {
        margin-top: 82.5px;
        border-radius: 0;

        transition: all 0.5s ease;
    }

    .short-description {
        margin-top: 170px;
        border-radius: 0 0 10px 10px;

        transition: all 0.5s ease;
    }

    .project:hover .project-heading, .expand .project-heading {
        margin-top: 0;
        border-radius: 10px 10px 0 0;
    }

    .project:hover .short-description {
        margin-top: 95px;
    }

    .project-content img {
        max-width: 60%;
    }

}